@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Roboto-Regular.ttf")  format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Roboto-Light.ttf")  format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Roboto-Medium.ttf")  format("truetype");
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("../fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Roboto-Thin.ttf")  format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Roboto-Bold.ttf")  format("truetype");
}