#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}