#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-menu {
  -ms-transform: rotate(0.0deg);
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-more-vertical {
  -ms-transform: rotate(0.0deg);
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Options_Nave_1 {
  border-collapse: separate;
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Cell_2 > .valign {
  vertical-align: top;
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Cell_4 > .valign {
  vertical-align: top;
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Cell_6 > .valign {
  vertical-align: top;
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Cell_8 > .valign {
  vertical-align: top;
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Table_1 {
  border-collapse: separate;
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-29fc2a75-b1dd-471c-b13d-5e966461e6b4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}