#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_107 {
  -ms-transform: rotate(0.0deg);
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_112 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_185 {
  -ms-transform: rotate(0.0deg);
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_186 {
  -ms-transform: rotate(0.0deg);
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_187 {
  -ms-transform: rotate(0.0deg);
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_188 {
  -ms-transform: rotate(0.0deg);
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_189 {
  -ms-transform: rotate(45.0deg);
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Ellipse_12 {
  -ms-transform: rotate(0.0deg);
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_190 {
  -ms-transform: rotate(45.0deg);
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_109 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_72 {
  -ms-transform: rotate(0.0deg);
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_110 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_73 {
  -ms-transform: rotate(0.0deg);
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_111 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_74 {
  -ms-transform: rotate(0.0deg);
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Bg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-send_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-attachment_5 {
  -ms-transform: rotate(0.0deg);
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-arrow-back_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}