#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_112 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_185 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_186 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_187 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_188 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_189 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  margin-left: -5px;
  margin-top: -5px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_190 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  margin-left: -5px;
  margin-top: -5px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_111 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Bg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-send_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-attachment_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-arrow-back_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}