#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Chat_screen {
  position: absolute;
  width: 360px;
  height: 640px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_107 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F2F2F2;
  background-image: none;
  box-shadow: none;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_107 {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_107 > .clipping, #s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_107 > .paddingLayer {
  height: 100px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_107 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_107 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_107 span#rtr-s-Rectangle_107_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_112 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  box-shadow: none;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_112 {
  position: absolute;
  width: 0px;
  height: 141px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_112 > .clipping, #s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_112 > .paddingLayer {
  height: 121px;
  width: 64px;
  padding-top: 1px;
  padding-bottom: 19px;
  padding-left: 36px;
  padding-right: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_112 .valign {
  vertical-align: bottom;
  text-align: left;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_112 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_112 span#rtr-s-Rectangle_112_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_185 > svg {
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_185 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_185 > img, #s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_185 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_186 > svg {
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_186 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_186 > img, #s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_186 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_187 {
  position: absolute;
  width: 74px;
  height: 74px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_187 > img, #s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_187 > svg {
  height: 74px;
  width: 74px;
  box-shadow: none;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_188 {
  position: absolute;
  width: 74px;
  height: 74px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_188 > img, #s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_188 > svg {
  height: 74px;
  width: 74px;
  box-shadow: none;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #shapewrapper-s-Ellipse_11 > .shapert-clipping {
  width: 19px;
  height: 19px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #shapewrapper-s-Ellipse_11 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
  overflow: hidden;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #shapewrapper-s-Ellipse_11 .content {
  text-shadow: none;
  width: 19px;
  height: 19px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #shapewrapper-s-Ellipse_11 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #shapewrapper-s-Ellipse_11 {
  position: absolute;
  width: 19px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Ellipse_11 {
  width: 19px;
  height: 19px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #shapewrapper-s-Ellipse_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #shapewrapper-s-Ellipse_11 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #shapewrapper-s-Ellipse_11 span#rtr-s-Ellipse_11_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_189 > svg {
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_189 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_189 > img, #s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_189 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #shapewrapper-s-Ellipse_12 > .shapert-clipping {
  width: 19px;
  height: 19px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #shapewrapper-s-Ellipse_12 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
  overflow: hidden;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #shapewrapper-s-Ellipse_12 .content {
  text-shadow: none;
  width: 19px;
  height: 19px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #shapewrapper-s-Ellipse_12 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #shapewrapper-s-Ellipse_12 {
  position: absolute;
  width: 19px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Ellipse_12 {
  width: 19px;
  height: 19px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #shapewrapper-s-Ellipse_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #shapewrapper-s-Ellipse_12 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #shapewrapper-s-Ellipse_12 span#rtr-s-Ellipse_12_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_190 > svg {
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_190 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_190 > img, #s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Image_190 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Chats {
  position: absolute;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Content_panel {
  width: 0px;
  height: 331px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Content_panel > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Content_panel td.layout {
  padding: 0px 0px 0px 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Content_panel > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 95px;
  height: 331px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Content_panel .verticalalign {
  vertical-align: top;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_109 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  box-shadow: none;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_109 {
  position: absolute;
  width: 0px;
  height: 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_109 > .clipping, #s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_109 > .paddingLayer {
  height: 60px;
  width: 44px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_109 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_109 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_109 span#rtr-s-Rectangle_109_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_109 span#rtr-s-Rectangle_109_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_72 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_72 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_72 > .clipping, #s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_72 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_72 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_72 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_72 span#rtr-s-Text_72_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_110 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 8px 8px 8px 8px;
  box-shadow: none;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_110 {
  position: absolute;
  width: 0px;
  height: 67px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_110 > .clipping, #s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_110 > .paddingLayer {
  height: 67px;
  width: 58px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_110 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_110 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_110 span#rtr-s-Rectangle_110_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_110 span#rtr-s-Rectangle_110_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_73 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_73 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_73 > .clipping, #s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_73 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_73 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_73 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_73 span#rtr-s-Text_73_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_111 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 8px 8px 8px 8px;
  box-shadow: none;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_111 {
  position: absolute;
  width: 0px;
  height: 67px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_111 > .clipping, #s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_111 > .paddingLayer {
  height: 37px;
  width: 43px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_111 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_111 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_111 span#rtr-s-Rectangle_111_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_111 span#rtr-s-Rectangle_111_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Rectangle_111 span#rtr-s-Rectangle_111_2 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_74 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_74 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_74 > .clipping, #s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_74 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_74 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_74 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_74 span#rtr-s-Text_74_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Section-bar {
  position: absolute;
  width: 360px;
  height: 76px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Bg_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #607D8B;
  background-image: none;
  box-shadow: -3px 0px 4px 0px #A0A0A0;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Bg_1 {
  position: absolute;
  width: 0px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Bg_1 > .clipping, #s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Bg_1 > .paddingLayer {
  height: 38px;
  width: 27px;
  padding-top: 38px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Bg_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Bg_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Bg_1 span#rtr-s-Bg_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-send_3 > svg {
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-send_3 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-send_3 > img, #s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-send_3 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-attachment_5 > svg {
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-attachment_5 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-attachment_5 > img, #s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-attachment_5 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-arrow-back_4 > svg {
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-arrow-back_4 {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-arrow-back_4 > img, #s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-arrow-back_4 > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_5 > .clipping, #s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb #s-Text_5 span#rtr-s-Text_5_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3ba8d5bd-feb8-4695-a80e-39bcebebe7eb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}