#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-raised_Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-raised_Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}