#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Title-bar-no-color {
  position: absolute;
  width: 640px;
  height: 76px;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: -3px 0px 4px 0px #A0A0A0;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Bg {
  position: absolute;
  width: 0px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Bg > .clipping, #s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Bg > .paddingLayer {
  height: 38px;
  width: 27px;
  padding-top: 38px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Bg .valign {
  vertical-align: top;
  text-align: left;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Bg span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Bg span#rtr-s-Bg_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Text > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Text {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.000001pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Text > .clipping, #s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Text > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Text .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Text span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.000001pt;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Text span#rtr-s-Text_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.000001pt;
  line-height: 0px;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-menu > svg {
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-menu {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-menu > img, #s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-menu > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-more-vertical > svg {
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-more-vertical {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-more-vertical > img, #s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-more-vertical > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Rectangle_1 {
  position: absolute;
  width: 572px;
  height: 204px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Rectangle_1 > .clipping, #s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Rectangle_1 > .paddingLayer {
  height: 204px;
  width: 572px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  background-image: url('../../images/b5e415e0-ea29-4996-acdb-1577c65089d8.png');
  box-shadow: none;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Rectangle_2 {
  position: absolute;
  width: 572px;
  height: 204px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Rectangle_2 > .clipping, #s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Rectangle_2 > .paddingLayer {
  height: 204px;
  width: 572px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-raised_Button > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #6200EE;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0px 2px 5px 0px #999999;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-raised_Button {
  position: absolute;
  width: 107px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-raised_Button > .clipping, #s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-raised_Button > .paddingLayer {
  height: 34px;
  width: 105px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-raised_Button .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-raised_Button span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-raised_Button span#rtr-s-raised_Button_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-raised_Button_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #6200EE;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0px 2px 5px 0px #999999;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-raised_Button_1 {
  position: absolute;
  width: 107px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-raised_Button_1 > .clipping, #s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-raised_Button_1 > .paddingLayer {
  height: 34px;
  width: 105px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-raised_Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-raised_Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-raised_Button_1 span#rtr-s-raised_Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 #s-raised_Button_1 span#rtr-s-raised_Button_1_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-4aef302e-d2a1-437c-baa7-87c76e9368f4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}