#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Google_maps_screen {
  position: absolute;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Items {
  width: 0px;
  height: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Items > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Items td.layout {
  padding: 0px 0px 0px 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Items > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 100px;
  height: 100px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Items .verticalalign {
  vertical-align: top;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Map > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../../images/6e35313f-8ad4-4de1-bde2-2e25fe2f19b3.jpg');
  box-shadow: none;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Map {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Map > .clipping, #s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Map > .paddingLayer {
  height: 100px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Map .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Map span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Map span#rtr-s-Map_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Pinmap > svg {
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Pinmap {
  position: absolute;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Pinmap > img, #s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Pinmap > svg {
  height: 32px;
  width: 32px;
  box-shadow: none;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #shapewrapper-s-Line_2 marker {
  fill: #000000;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #shapewrapper-s-Line_2 {
  position: absolute;
  width: 43px;
  height: 2px;
  -webkit-transform: rotate(82deg);
  -moz-transform: rotate(82deg);
  transform: rotate(82deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Line_2 {
  width: 43px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #shapewrapper-s-Line_1 marker {
  fill: #000000;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 103px;
  height: 2px;
  -webkit-transform: rotate(350deg);
  -moz-transform: rotate(350deg);
  transform: rotate(350deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Line_1 {
  width: 103px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Backdrop {
  position: absolute;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Content {
  width: 0px;
  height: 308px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Content > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 6px 6px 0px 0px;
  box-shadow: none;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Content td.layout {
  padding: 0px 0px 0px 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Content > .layoutWrapper {
  left: 4px;
  top: 4px;
  width: 92px;
  height: 301px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Content .verticalalign {
  vertical-align: top;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.000001pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_4 > .clipping, #s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_4 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.000001pt;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_4 span#rtr-s-Subtitle_4_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.000001pt;
  line-height: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Paragraph_1 {
  position: absolute;
  width: 267px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Paragraph_1 > .clipping, #s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Paragraph_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Paragraph_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.000001pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_5 > .clipping, #s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_5 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.000001pt;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_5 span#rtr-s-Subtitle_5_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.000001pt;
  line-height: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.000001pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle > .clipping, #s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.000001pt;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle span#rtr-s-Subtitle_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.000001pt;
  line-height: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-openClose > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-openClose {
  position: absolute;
  width: 30px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-openClose > .clipping, #s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-openClose > .paddingLayer {
  height: 6px;
  width: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-openClose .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-openClose span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-openClose span#rtr-s-openClose_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.000001pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_1 > .clipping, #s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_1 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.000001pt;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_1 span#rtr-s-Subtitle_1_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.000001pt;
  line-height: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.000001pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_2 > .clipping, #s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_2 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.000001pt;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_2 span#rtr-s-Subtitle_2_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.000001pt;
  line-height: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.000001pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_3 > .clipping, #s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_3 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.000001pt;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_3 span#rtr-s-Subtitle_3_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.000001pt;
  line-height: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Subtitle_3 span#rtr-s-Subtitle_3_1 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.000001pt;
  line-height: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Two-line-item_41 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Two-line-item_41 {
  position: absolute;
  width: 328px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 26px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Two-line-item_41 > .clipping, #s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Two-line-item_41 > .paddingLayer {
  height: 7px;
  width: 228px;
  padding-top: 12px;
  padding-bottom: 1px;
  padding-left: 100px;
  padding-right: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Two-line-item_41 .valign {
  vertical-align: top;
  text-align: left;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Two-line-item_41 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Two-line-item_41 span#rtr-s-Two-line-item_41_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Two-line-item_42 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Two-line-item_42 {
  position: absolute;
  width: 328px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 26px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Two-line-item_42 > .clipping, #s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Two-line-item_42 > .paddingLayer {
  height: 1px;
  width: 228px;
  padding-top: 12px;
  padding-bottom: 0px;
  padding-left: 100px;
  padding-right: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Two-line-item_42 .valign {
  vertical-align: top;
  text-align: left;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Two-line-item_42 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Two-line-item_42 span#rtr-s-Two-line-item_42_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Image_1 {
  position: absolute;
  width: 45px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Image_1 > img, #s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Image_1 > svg {
  height: 48px;
  width: 45px;
  box-shadow: none;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-raised_Button > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #6200EE;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0px 2px 5px 0px #999999;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-raised_Button {
  position: absolute;
  width: 260px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.000001pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-raised_Button > .clipping, #s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-raised_Button > .paddingLayer {
  height: 34px;
  width: 258px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-raised_Button .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-raised_Button span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.000001pt;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-raised_Button span#rtr-s-raised_Button_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.000001pt;
  line-height: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Options_Nave_2 {
  position: absolute;
  width: 360px;
  height: 60px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Options_Nave_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: 0px -3px 5px 0px #999999;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Options_Nave_2 > table {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Cell_3 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Cell_3 td.layout {
  padding: 6px 0px 0px 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Cell_3 .verticalalign {
  vertical-align: top;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Cell_3 {
  width: 89px;
  height: 60px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Cell_5 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Cell_5 td.layout {
  padding: 6px 0px 0px 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Cell_5 .verticalalign {
  vertical-align: top;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Cell_5 {
  width: 89px;
  height: 60px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Image_4 {
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Image_4 > img, #s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Image_4 > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Label_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Label_5 {
  width: 91px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Label_5 > .clipping, #s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Label_5 > .paddingLayer {
  height: 23px;
  width: 91px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Label_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Label_5 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Label_5 span#rtr-s-Label_5_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Cell_7 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Cell_7 td.layout {
  padding: 6px 0px 0px 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Cell_7 .verticalalign {
  vertical-align: top;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Cell_7 {
  width: 91px;
  height: 60px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Image_9 {
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Image_9 > img, #s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Image_9 > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Label_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Label_7 {
  width: 91px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Label_7 > .clipping, #s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Label_7 > .paddingLayer {
  height: 23px;
  width: 91px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Label_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Label_7 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Label_7 span#rtr-s-Label_7_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Cell_9 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Cell_9 td.layout {
  padding: 6px 0px 0px 0px;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Cell_9 .verticalalign {
  vertical-align: top;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 #s-Cell_9 {
  width: 91px;
  height: 60px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-5fa1190a-89bd-49ee-878f-9d2cac2d6cb1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}