#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Image_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-raised_Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-raised_Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Button_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}