#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Line_9 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Line_9 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Line_10 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Line_10 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Line_15 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Line_15 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Line_16 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Line_16 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Image_154 {
  -ms-transform: rotate(0.0deg);
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Category_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Category_3-options {
  background-color: #FFFFFF;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Line_1 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Line_1 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Line_2 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Line_2 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-menu {
  -ms-transform: rotate(0.0deg);
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-more-vertical {
  -ms-transform: rotate(0.0deg);
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-raised_Button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 34px;
  width: 105px;
  -ms-transform: rotate(0.0deg);
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-raised_Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 34px;
  width: 105px;
  -ms-transform: rotate(0.0deg);
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Button_11 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Button_12 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 80px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}