#s-6087a915-32bb-4c1c-9ad1-7ac79827882d > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  background-image: url('../../images/e5fc105e-0a67-440b-95ad-f5cb2e748e97.png');
  box-shadow: none;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_1 {
  position: absolute;
  width: 83px;
  height: 86px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_1 > .clipping, #s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_1 > .paddingLayer {
  height: 86px;
  width: 83px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: contain;
  background-image: url('../../images/76ddc9bb-3e0e-414c-88e5-251655430ec0.png');
  box-shadow: none;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_2 {
  position: absolute;
  width: 83px;
  height: 86px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_2 > .clipping, #s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_2 > .paddingLayer {
  height: 86px;
  width: 83px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: contain;
  background-image: url('../../images/583b1222-2300-445d-a3ea-56b3d8acacba.png');
  box-shadow: none;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_3 {
  position: absolute;
  width: 83px;
  height: 86px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_3 > .clipping, #s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_3 > .paddingLayer {
  height: 86px;
  width: 83px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Floating-label {
  position: absolute;
  width: 313px;
  height: 44px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Input_5 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Input_5 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Input_5 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Input_5 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Input_5 {
  position: absolute;
  width: 0px;
  height: 44px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Input_5 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Input_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Input_5 > .paddingLayer {
  height: 20px;
  width: 81px;
  padding-top: 16px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #shapewrapper-s-Line_9 marker {
  fill: #757575;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #shapewrapper-s-Line_9 {
  position: absolute;
  width: 313px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Line_9 {
  width: 86px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #757575;
  box-shadow: none;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #shapewrapper-s-Line_10 marker {
  fill: #6200EE;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #shapewrapper-s-Line_10 {
  position: absolute;
  width: 313px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Line_10 {
  width: 86px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #6200EE;
  box-shadow: none;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Label {
  position: absolute;
  width: 313px;
  height: 32px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_4 {
  position: absolute;
  width: 0px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_4 > .clipping, #s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_4 > .paddingLayer {
  height: 29px;
  width: 86px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Label_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Label_3 {
  position: absolute;
  width: 0px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Label_3 > .clipping, #s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Label_3 > .paddingLayer {
  height: 32px;
  width: 79px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 7px;
  padding-right: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Label_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Label_3 span#rtr-s-Label_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Required-input {
  position: absolute;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Content_panel {
  width: 313px;
  height: 67px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Content_panel > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Content_panel td.layout {
  padding: 0px 0px 0px 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Content_panel > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 313px;
  height: 67px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Content_panel .verticalalign {
  vertical-align: top;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Input_7 input::-webkit-input-placeholder {
  color: #808080;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Input_7 input::-moz-placeholder {
  color: #808080;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Input_7 input:-moz-placeholder {
  color: #808080;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Input_7 input:-ms-input-placeholder {
  color: #808080;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Input_7 {
  position: absolute;
  width: 0px;
  height: 44px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Input_7 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Input_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Input_7 > .paddingLayer {
  height: 20px;
  width: 95px;
  padding-top: 16px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #shapewrapper-s-Line_15 marker {
  fill: #757575;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #shapewrapper-s-Line_15 {
  position: absolute;
  width: 313px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Line_15 {
  width: 100px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #757575;
  box-shadow: none;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #shapewrapper-s-Line_16 marker {
  fill: #6200EE;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #shapewrapper-s-Line_16 {
  position: absolute;
  width: 313px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Line_16 {
  width: 100px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #6200EE;
  box-shadow: none;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Label_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Label_6 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Label_6 > .clipping, #s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Label_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Label_6 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Label_6 span#rtr-s-Label_6_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Image_154 > svg {
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Image_154 {
  position: absolute;
  width: 19px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Image_154 > img, #s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Image_154 > svg {
  height: 19px;
  width: 19px;
  box-shadow: none;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Select {
  position: absolute;
  width: 313px;
  height: 45px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Category_3 > select {
  background-color: #FFFFFF;
  background-image: none;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Category_3 > .dropdown-options {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  left: 0px;
  top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Category_3 {
  position: absolute;
  width: 0px;
  height: 44px;
  opacity: 0.99;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  vertical-align: middle;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Category_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Category_3 > .paddingLayer {
  height: 20px;
  width: 81px;
  padding-top: 16px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #shapewrapper-s-Line_1 marker {
  fill: #757575;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #shapewrapper-s-Line_1 {
  position: absolute;
  width: 313px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Line_1 {
  width: 86px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #757575;
  box-shadow: none;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #shapewrapper-s-Line_2 marker {
  fill: #6200EE;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #shapewrapper-s-Line_2 {
  position: absolute;
  width: 313px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Line_2 {
  width: 86px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #6200EE;
  box-shadow: none;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Title-bar-no-color {
  position: absolute;
  width: 360px;
  height: 76px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: -3px 0px 4px 0px #A0A0A0;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Bg {
  position: absolute;
  width: 0px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Bg > .clipping, #s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Bg > .paddingLayer {
  height: 38px;
  width: 27px;
  padding-top: 38px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Bg .valign {
  vertical-align: top;
  text-align: left;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Bg span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Bg span#rtr-s-Bg_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Text > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Text {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.000001pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Text > .clipping, #s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Text > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Text .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Text span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.000001pt;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Text span#rtr-s-Text_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.000001pt;
  line-height: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-menu > svg {
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-menu {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-menu > img, #s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-menu > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-more-vertical > svg {
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-more-vertical {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-more-vertical > img, #s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-more-vertical > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-raised_Button > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FC361D;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0px 2px 5px 0px #999999;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-raised_Button {
  position: absolute;
  width: 107px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-raised_Button > .clipping, #s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-raised_Button > .paddingLayer {
  height: 34px;
  width: 105px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-raised_Button .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-raised_Button span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-raised_Button span#rtr-s-raised_Button_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-raised_Button_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #6200EE;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0px 2px 5px 0px #999999;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-raised_Button_1 {
  position: absolute;
  width: 107px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-raised_Button_1 > .clipping, #s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-raised_Button_1 > .paddingLayer {
  height: 34px;
  width: 105px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-raised_Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-raised_Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-raised_Button_1 span#rtr-s-raised_Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Snackbar-with-action {
  position: absolute;
  width: 346px;
  height: 48px;
  z-index: 100;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #434343;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 3px 3px;
  box-shadow: none;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_5 {
  position: absolute;
  width: 0px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_5 > .clipping, #s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_5 > .paddingLayer {
  height: 48px;
  width: 64px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 16px;
  padding-right: 16px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_5 span {
  color: #D9D9D9;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #D9D9D9;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Button_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Button_11 {
  position: absolute;
  width: 80px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Button_11 > .clipping, #s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Button_11 > .paddingLayer {
  height: 29px;
  width: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Button_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Button_11 span {
  color: #B68AF7;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Button_11 span#rtr-s-Button_11_0 {
  color: #B68AF7;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Button_11 span#rtr-s-Button_11_1 {
  color: #B68AF7;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Button_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #CCCCCC;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Button_12 {
  position: absolute;
  width: 80px;
  height: 29px;
  opacity: 0.35;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Button_12 > .clipping, #s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Button_12 > .paddingLayer {
  height: 29px;
  width: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Button_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Button_12 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d #s-Button_12 span#rtr-s-Button_12_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6087a915-32bb-4c1c-9ad1-7ac79827882d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}