#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-menu {
  -ms-transform: rotate(0.0deg);
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-more-vertical {
  -ms-transform: rotate(0.0deg);
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Three-line-item_1 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Three-line-item {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Table_1 {
  border-collapse: separate;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-raised_Button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 34px;
  width: 105px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}