#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Three-line-item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Three-line-item {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-raised_Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}