#s-7cebd357-a097-4bdc-8139-a0539d53eac0 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Title-bar-no-color {
  position: absolute;
  width: 360px;
  height: 76px;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: -3px 0px 4px 0px #A0A0A0;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Bg {
  position: absolute;
  width: 0px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Bg > .clipping, #s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Bg > .paddingLayer {
  height: 38px;
  width: 27px;
  padding-top: 38px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Bg .valign {
  vertical-align: top;
  text-align: left;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Bg span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Bg span#rtr-s-Bg_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.000001pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text > .clipping, #s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.000001pt;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text span#rtr-s-Text_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.000001pt;
  line-height: 0px;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-menu > svg {
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-menu {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-menu > img, #s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-menu > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-more-vertical > svg {
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-more-vertical {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-more-vertical > img, #s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-more-vertical > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Three_line_item_dialog {
  position: absolute;
  width: 360px;
  height: 218px;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Three-line-item_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Three-line-item_1 {
  position: absolute;
  width: 0px;
  height: 109px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Three-line-item_1 > .clipping, #s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Three-line-item_1 > .paddingLayer {
  height: 97px;
  width: 72px;
  padding-top: 12px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 13px;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Three-line-item_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Three-line-item_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Three-line-item_1 span#rtr-s-Three-line-item_1_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Three-line-item > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Three-line-item {
  position: absolute;
  width: 0px;
  height: 109px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Three-line-item > .clipping, #s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Three-line-item > .paddingLayer {
  height: 97px;
  width: 72px;
  padding-top: 12px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 13px;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Three-line-item .valign {
  vertical-align: top;
  text-align: left;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Three-line-item span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Three-line-item span#rtr-s-Three-line-item_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Three-line-item span#rtr-s-Three-line-item_1 {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Table_1 {
  position: absolute;
  width: 334px;
  height: 116px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Table_1 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + -1px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Table_1 > table {
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 1px;
  padding-right: 0px;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text_cell_1 {
  width: 78px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text_cell_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text_cell_4 {
  width: 229px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text_cell_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text_cell_2 {
  width: 78px;
  height: 64px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text_cell_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text_cell_5 {
  width: 229px;
  height: 64px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text_cell_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text_cell_3 {
  width: 78px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text_cell_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text_cell_6 {
  width: 229px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text_cell_6 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-raised_Button > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #6200EE;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0px 2px 5px 0px #999999;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-raised_Button {
  position: absolute;
  width: 107px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-raised_Button > .clipping, #s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-raised_Button > .paddingLayer {
  height: 34px;
  width: 105px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-raised_Button .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-raised_Button span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 #s-raised_Button span#rtr-s-raised_Button_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-7cebd357-a097-4bdc-8139-a0539d53eac0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}