#s-83b457c8-4d75-4b43-8d03-b50439ad0037 #s-Map {
  -ms-transform: rotate(0.0deg);
}
#s-83b457c8-4d75-4b43-8d03-b50439ad0037 #s-Pinmap {
  -ms-transform: rotate(270.0deg);
}
#s-83b457c8-4d75-4b43-8d03-b50439ad0037 #s-Content {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 6px 6px 0px 0px;
}
#s-83b457c8-4d75-4b43-8d03-b50439ad0037 #s-Subtitle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-83b457c8-4d75-4b43-8d03-b50439ad0037 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-83b457c8-4d75-4b43-8d03-b50439ad0037 #s-Subtitle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-83b457c8-4d75-4b43-8d03-b50439ad0037 #s-Subtitle {
  -ms-transform: rotate(0.0deg);
}
#s-83b457c8-4d75-4b43-8d03-b50439ad0037 #s-openClose {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-83b457c8-4d75-4b43-8d03-b50439ad0037 #s-Subtitle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-83b457c8-4d75-4b43-8d03-b50439ad0037 #s-Subtitle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-83b457c8-4d75-4b43-8d03-b50439ad0037 #s-Subtitle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-83b457c8-4d75-4b43-8d03-b50439ad0037 #s-Two-line-item_41 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-83b457c8-4d75-4b43-8d03-b50439ad0037 #s-Two-line-item_42 {
  -ms-transform: rotate(0.0deg);
}
#s-83b457c8-4d75-4b43-8d03-b50439ad0037 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-83b457c8-4d75-4b43-8d03-b50439ad0037 #s-raised_Button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 34px;
  width: 258px;
  -ms-transform: rotate(0.0deg);
}
#s-83b457c8-4d75-4b43-8d03-b50439ad0037 #s-Options_Nave_1 {
  border-collapse: separate;
}
#s-83b457c8-4d75-4b43-8d03-b50439ad0037 #s-Cell_2 > .valign {
  vertical-align: top;
}
#s-83b457c8-4d75-4b43-8d03-b50439ad0037 #s-Cell_4 > .valign {
  vertical-align: top;
}
#s-83b457c8-4d75-4b43-8d03-b50439ad0037 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-83b457c8-4d75-4b43-8d03-b50439ad0037 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-83b457c8-4d75-4b43-8d03-b50439ad0037 #s-Cell_6 > .valign {
  vertical-align: top;
}
#s-83b457c8-4d75-4b43-8d03-b50439ad0037 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-83b457c8-4d75-4b43-8d03-b50439ad0037 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-83b457c8-4d75-4b43-8d03-b50439ad0037 #s-Cell_8 > .valign {
  vertical-align: top;
}
#s-83b457c8-4d75-4b43-8d03-b50439ad0037 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-83b457c8-4d75-4b43-8d03-b50439ad0037 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-83b457c8-4d75-4b43-8d03-b50439ad0037 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}