#s-aac629e4-7911-4c02-8529-971e4292904f #s-Options_Nave_1 {
  border-collapse: separate;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Cell_2 > .valign {
  vertical-align: top;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Cell_4 > .valign {
  vertical-align: top;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Cell_6 > .valign {
  vertical-align: top;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Cell_8 > .valign {
  vertical-align: top;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Table_1 {
  border-collapse: separate;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-menu {
  -ms-transform: rotate(0.0deg);
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-more-vertical {
  -ms-transform: rotate(0.0deg);
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_15 {
  -ms-transform: rotate(0.0deg);
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-aac629e4-7911-4c02-8529-971e4292904f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}