#s-aac629e4-7911-4c02-8529-971e4292904f > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-aac629e4-7911-4c02-8529-971e4292904f > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Options_Nave_1 {
  position: absolute;
  width: 360px;
  height: 60px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Options_Nave_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: 0px -3px 5px 0px #999999;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Options_Nave_1 > table {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Cell_2 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Cell_2 td.layout {
  padding: 6px 0px 0px 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Cell_2 .verticalalign {
  vertical-align: top;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Cell_2 {
  width: 89px;
  height: 60px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Cell_4 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Cell_4 td.layout {
  padding: 6px 0px 0px 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Cell_4 .verticalalign {
  vertical-align: top;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Cell_4 {
  width: 89px;
  height: 60px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Image_2 {
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Image_2 > img, #s-aac629e4-7911-4c02-8529-971e4292904f #s-Image_2 > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Label_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Label_4 {
  width: 91px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Label_4 > .clipping, #s-aac629e4-7911-4c02-8529-971e4292904f #s-Label_4 > .paddingLayer {
  height: 23px;
  width: 91px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Label_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Label_4 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Label_4 span#rtr-s-Label_4_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Cell_6 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Cell_6 td.layout {
  padding: 6px 0px 0px 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Cell_6 .verticalalign {
  vertical-align: top;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Cell_6 {
  width: 91px;
  height: 60px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Image_8 {
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Image_8 > img, #s-aac629e4-7911-4c02-8529-971e4292904f #s-Image_8 > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Label_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Label_6 {
  width: 91px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Label_6 > .clipping, #s-aac629e4-7911-4c02-8529-971e4292904f #s-Label_6 > .paddingLayer {
  height: 23px;
  width: 91px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Label_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Label_6 span {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Label_6 span#rtr-s-Label_6_0 {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Cell_8 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Cell_8 td.layout {
  padding: 6px 0px 0px 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Cell_8 .verticalalign {
  vertical-align: top;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Cell_8 {
  width: 91px;
  height: 60px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Dynamic_Panel_1 {
  position: absolute;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Panel_1 {
  width: 360px;
  height: 514px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 360px;
  height: 514px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Table_1 {
  position: absolute;
  width: 333px;
  height: 424px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Table_1 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + -1px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Table_1 > table {
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 1px;
  padding-right: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_1 {
  width: 32px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_4 {
  width: 36px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_10 {
  width: 37px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_10 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_10 span#rtr-s-Text_cell_10_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_13 {
  width: 34px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_13 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_13 span#rtr-s-Text_cell_13_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_16 {
  width: 34px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_16 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_16 span#rtr-s-Text_cell_16_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_19 {
  width: 34px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_19 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_19 span#rtr-s-Text_cell_19_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_7 {
  width: 34px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_7 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_2 {
  width: 32px;
  height: 64px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_5 {
  width: 36px;
  height: 64px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_5 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_11 {
  width: 37px;
  height: 64px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_11 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_11 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_11 span#rtr-s-Text_cell_11_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_14 {
  width: 34px;
  height: 64px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_14 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_14 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_14 span#rtr-s-Text_cell_14_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_17 {
  width: 34px;
  height: 64px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_17 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_17 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_17 span#rtr-s-Text_cell_17_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_20 {
  width: 34px;
  height: 64px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_20 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_20 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_20 span#rtr-s-Text_cell_20_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_8 {
  width: 34px;
  height: 64px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_8 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_8 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_3 {
  width: 32px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_3 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_6 {
  width: 36px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_6 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_6 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_12 {
  width: 37px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_12 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_12 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_12 span#rtr-s-Text_cell_12_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_15 {
  width: 34px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_15 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_15 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_15 span#rtr-s-Text_cell_15_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_18 {
  width: 34px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_18 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_18 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_18 span#rtr-s-Text_cell_18_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_21 {
  width: 34px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_21 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_21 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_21 span#rtr-s-Text_cell_21_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_9 {
  width: 34px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_9 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_9 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_9 span#rtr-s-Text_cell_9_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_22 {
  width: 32px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_22 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_22 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_22 span#rtr-s-Text_cell_22_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_23 {
  width: 36px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_23 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_23 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_23 span#rtr-s-Text_cell_23_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_24 {
  width: 37px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_24 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_24 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_24 span#rtr-s-Text_cell_24_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_25 {
  width: 34px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_25 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_25 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_25 span#rtr-s-Text_cell_25_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_26 {
  width: 34px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_26 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_26 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_26 span#rtr-s-Text_cell_26_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_27 {
  width: 34px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_27 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_27 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_27 span#rtr-s-Text_cell_27_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_28 {
  width: 34px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_28 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_28 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_28 span#rtr-s-Text_cell_28_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_29 {
  width: 32px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_29 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_29 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_29 span#rtr-s-Text_cell_29_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_30 {
  width: 36px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_30 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_30 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_30 span#rtr-s-Text_cell_30_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_31 {
  width: 37px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_31 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_31 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_31 span#rtr-s-Text_cell_31_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_32 {
  width: 34px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_32 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_32 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_32 span#rtr-s-Text_cell_32_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_33 {
  width: 34px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_33 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_33 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_33 span#rtr-s-Text_cell_33_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_34 {
  width: 34px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_34 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_34 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_34 span#rtr-s-Text_cell_34_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_35 {
  width: 34px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_35 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_35 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_35 span#rtr-s-Text_cell_35_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_36 {
  width: 32px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_36 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_36 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_36 span#rtr-s-Text_cell_36_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_37 {
  width: 36px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_37 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_37 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_37 span#rtr-s-Text_cell_37_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_38 {
  width: 37px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_38 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_38 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_38 span#rtr-s-Text_cell_38_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_39 {
  width: 34px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_39 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_39 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_39 span#rtr-s-Text_cell_39_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_40 {
  width: 34px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_40 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_40 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_40 span#rtr-s-Text_cell_40_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_41 {
  width: 34px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_41 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_41 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_41 span#rtr-s-Text_cell_41_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_42 {
  width: 34px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_42 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_42 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_42 span#rtr-s-Text_cell_42_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_43 {
  width: 32px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_43 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_43 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_43 span#rtr-s-Text_cell_43_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_44 {
  width: 36px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_44 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_44 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_44 span#rtr-s-Text_cell_44_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_45 {
  width: 37px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_45 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_45 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_45 span#rtr-s-Text_cell_45_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_46 {
  width: 34px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_46 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_46 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_46 span#rtr-s-Text_cell_46_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_47 {
  width: 34px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_47 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_47 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_47 span#rtr-s-Text_cell_47_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_48 {
  width: 34px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_48 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_48 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_48 span#rtr-s-Text_cell_48_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_49 {
  width: 34px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_49 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_49 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text_cell_49 span#rtr-s-Text_cell_49_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FF0000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_12 {
  position: absolute;
  width: 38px;
  height: 17px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 6.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_12 > .clipping, #s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_12 > .paddingLayer {
  height: 17px;
  width: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_12 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 6.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 6.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #6DFD6F;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_11 {
  position: absolute;
  width: 38px;
  height: 17px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 6.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_11 > .clipping, #s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_11 > .paddingLayer {
  height: 17px;
  width: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_11 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 6.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 6.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #6DFD6F;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_10 {
  position: absolute;
  width: 38px;
  height: 17px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 6.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_10 > .clipping, #s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_10 > .paddingLayer {
  height: 17px;
  width: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_10 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 6.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 6.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FF0000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_9 {
  position: absolute;
  width: 38px;
  height: 17px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 6.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_9 > .clipping, #s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_9 > .paddingLayer {
  height: 17px;
  width: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 6.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 6.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FF0000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_8 {
  position: absolute;
  width: 38px;
  height: 17px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 6.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_8 > .clipping, #s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_8 > .paddingLayer {
  height: 17px;
  width: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 6.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 6.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #6DFD6F;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_7 {
  position: absolute;
  width: 38px;
  height: 17px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 6.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_7 > .clipping, #s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_7 > .paddingLayer {
  height: 17px;
  width: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_7 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 6.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 6.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #6DFD6F;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_6 {
  position: absolute;
  width: 38px;
  height: 17px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 6.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_6 > .clipping, #s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_6 > .paddingLayer {
  height: 17px;
  width: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_6 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 6.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 6.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #6DFD6F;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_5 {
  position: absolute;
  width: 38px;
  height: 17px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 6.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_5 > .clipping, #s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_5 > .paddingLayer {
  height: 17px;
  width: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 6.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 6.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #6DFD6F;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_4 {
  position: absolute;
  width: 38px;
  height: 17px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 6.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_4 > .clipping, #s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_4 > .paddingLayer {
  height: 17px;
  width: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 6.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 6.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_4 span#rtr-s-Rectangle_4_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 6.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #6DFD6F;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_3 {
  position: absolute;
  width: 38px;
  height: 17px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 6.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_3 > .clipping, #s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_3 > .paddingLayer {
  height: 17px;
  width: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 6.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 6.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #6DFD6F;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_2 {
  position: absolute;
  width: 38px;
  height: 17px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 6.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_2 > .clipping, #s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_2 > .paddingLayer {
  height: 17px;
  width: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 6.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 6.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FF0000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_1 {
  position: absolute;
  width: 38px;
  height: 17px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 6.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_1 > .clipping, #s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_1 > .paddingLayer {
  height: 17px;
  width: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 6.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 6.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Title-bar-no-color {
  position: absolute;
  width: 360px;
  height: 76px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: -3px 0px 4px 0px #A0A0A0;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Bg {
  position: absolute;
  width: 0px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Bg > .clipping, #s-aac629e4-7911-4c02-8529-971e4292904f #s-Bg > .paddingLayer {
  height: 38px;
  width: 27px;
  padding-top: 38px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Bg .valign {
  vertical-align: top;
  text-align: left;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Bg span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Bg span#rtr-s-Bg_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.000001pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text > .clipping, #s-aac629e4-7911-4c02-8529-971e4292904f #s-Text > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.000001pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Text span#rtr-s-Text_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.000001pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-menu > svg {
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-menu {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-menu > img, #s-aac629e4-7911-4c02-8529-971e4292904f #s-menu > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-more-vertical > svg {
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-more-vertical {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-more-vertical > img, #s-aac629e4-7911-4c02-8529-971e4292904f #s-more-vertical > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_15 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_15 {
  position: absolute;
  width: 59px;
  height: 61px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_15 > .clipping, #s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_15 > .paddingLayer {
  height: 61px;
  width: 59px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_15 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_14 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_14 {
  position: absolute;
  width: 97px;
  height: 61px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_14 > .clipping, #s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_14 > .paddingLayer {
  height: 61px;
  width: 97px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_14 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-aac629e4-7911-4c02-8529-971e4292904f #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-aac629e4-7911-4c02-8529-971e4292904f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}