#s-b94e8560-b3de-44c1-9939-5864aba299a7 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Status-bar {
  position: absolute;
  width: 360px;
  height: 20px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Bg_status > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Bg_status {
  position: absolute;
  width: 0px;
  height: 20px;
  opacity: 0.55;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Bg_status > .clipping, #s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Bg_status > .paddingLayer {
  height: 20px;
  width: 92px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 8px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Bg_status .valign {
  vertical-align: middle;
  text-align: right;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Bg_status span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Bg_status span#rtr-s-Bg_status_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-hour > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-hour {
  position: absolute;
  width: 46px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-hour > .clipping, #s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-hour > .paddingLayer {
  height: 20px;
  width: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-hour .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-hour span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-hour span#rtr-s-hour_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-signals {
  position: absolute;
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-signals > img, #s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-signals > svg {
  height: 20px;
  width: 61px;
  box-shadow: none;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Title-bar-no-color {
  position: absolute;
  width: 360px;
  height: 76px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: -3px 0px 4px 0px #A0A0A0;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Bg {
  position: absolute;
  width: 0px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Bg > .clipping, #s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Bg > .paddingLayer {
  height: 38px;
  width: 27px;
  padding-top: 38px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Bg .valign {
  vertical-align: top;
  text-align: left;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Bg span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Bg span#rtr-s-Bg_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.000001pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text > .clipping, #s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.000001pt;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text span#rtr-s-Text_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.000001pt;
  line-height: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-menu > svg {
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-menu {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-menu > img, #s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-menu > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-more-vertical > svg {
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-more-vertical {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-more-vertical > img, #s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-more-vertical > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Table_1 {
  position: absolute;
  width: 322px;
  height: 433px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Table_1 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + -1px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Table_1 > table {
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 1px;
  padding-right: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_cell_1 {
  width: 94px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_cell_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_cell_4 {
  width: 94px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_cell_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_cell_7 {
  width: 94px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_cell_7 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_cell_2 {
  width: 94px;
  height: 404px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_cell_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_cell_5 {
  width: 94px;
  height: 404px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_cell_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_cell_8 {
  width: 94px;
  height: 404px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_cell_8 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FD9E28;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_3 {
  position: absolute;
  width: 91px;
  height: 52px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_3 > .clipping, #s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_3 > .paddingLayer {
  height: 52px;
  width: 91px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Paragraph_1 {
  position: absolute;
  width: 62px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Paragraph_1 > .clipping, #s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Paragraph_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_1 > .clipping, #s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #19AE3C;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_4 {
  position: absolute;
  width: 91px;
  height: 52px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_4 > .clipping, #s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_4 > .paddingLayer {
  height: 52px;
  width: 91px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Paragraph_2 {
  position: absolute;
  width: 61px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Paragraph_2 > .clipping, #s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Paragraph_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_2 > .clipping, #s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #19AE3C;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_5 {
  position: absolute;
  width: 91px;
  height: 52px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_5 > .clipping, #s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_5 > .paddingLayer {
  height: 52px;
  width: 91px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Paragraph_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Paragraph_3 {
  position: absolute;
  width: 62px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Paragraph_3 > .clipping, #s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Paragraph_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_3 > .clipping, #s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_1 {
  position: absolute;
  width: 92px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_1 > .clipping, #s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_1 > .paddingLayer {
  height: 53px;
  width: 92px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_6 {
  position: absolute;
  width: 92px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_6 > .clipping, #s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_6 > .paddingLayer {
  height: 53px;
  width: 92px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_6 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_7 {
  position: absolute;
  width: 92px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_7 > .clipping, #s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_7 > .paddingLayer {
  height: 53px;
  width: 92px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_7 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Options_Nave_1 {
  position: absolute;
  width: 360px;
  height: 60px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Options_Nave_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: 0px -3px 5px 0px #999999;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Options_Nave_1 > table {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Cell_2 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Cell_2 td.layout {
  padding: 6px 0px 0px 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Cell_2 .verticalalign {
  vertical-align: top;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Cell_2 {
  width: 89px;
  height: 60px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Cell_4 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Cell_4 td.layout {
  padding: 6px 0px 0px 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Cell_4 .verticalalign {
  vertical-align: top;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Cell_4 {
  width: 89px;
  height: 60px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Image_2 {
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Image_2 > img, #s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Image_2 > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Label_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Label_4 {
  width: 91px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Label_4 > .clipping, #s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Label_4 > .paddingLayer {
  height: 23px;
  width: 91px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Label_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Label_4 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Label_4 span#rtr-s-Label_4_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Cell_6 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Cell_6 td.layout {
  padding: 6px 0px 0px 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Cell_6 .verticalalign {
  vertical-align: top;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Cell_6 {
  width: 91px;
  height: 60px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Image_8 {
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Image_8 > img, #s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Image_8 > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Label_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Label_6 {
  width: 91px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Label_6 > .clipping, #s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Label_6 > .paddingLayer {
  height: 23px;
  width: 91px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Label_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Label_6 span {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Label_6 span#rtr-s-Label_6_0 {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Cell_8 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Cell_8 td.layout {
  padding: 6px 0px 0px 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Cell_8 .verticalalign {
  vertical-align: top;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Cell_8 {
  width: 91px;
  height: 60px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_2 {
  position: absolute;
  width: 87px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_2 > .clipping, #s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_2 > .paddingLayer {
  height: 59px;
  width: 87px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}