#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=55) ;
  filter: alpha(opacity=55) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}