#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=55);
  filter: alpha(opacity=55);
  -ms-transform: rotate(0.0deg);
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-menu {
  -ms-transform: rotate(0.0deg);
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-more-vertical {
  -ms-transform: rotate(0.0deg);
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Table_1 {
  border-collapse: separate;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Options_Nave_1 {
  border-collapse: separate;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Cell_2 > .valign {
  vertical-align: top;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Cell_4 > .valign {
  vertical-align: top;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Cell_6 > .valign {
  vertical-align: top;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Cell_8 > .valign {
  vertical-align: top;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-b94e8560-b3de-44c1-9939-5864aba299a7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}