#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Google_maps_screen {
  position: absolute;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Items {
  width: 0px;
  height: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Items > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Items td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Items > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 100px;
  height: 100px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Items .verticalalign {
  vertical-align: top;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-map2 {
  position: absolute;
  width: 381px;
  height: 642px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-map2 > img, #s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-map2 > svg {
  height: 642px;
  width: 381px;
  box-shadow: none;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Pinmap > svg {
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Pinmap {
  position: absolute;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Pinmap > img, #s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Pinmap > svg {
  height: 32px;
  width: 32px;
  box-shadow: none;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Options_Nave_1 {
  position: absolute;
  width: 360px;
  height: 60px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Options_Nave_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: 0px -3px 5px 0px #999999;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Options_Nave_1 > table {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Cell_2 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Cell_2 td.layout {
  padding: 6px 0px 0px 0px;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Cell_2 .verticalalign {
  vertical-align: top;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Cell_2 {
  width: 89px;
  height: 60px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Cell_4 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Cell_4 td.layout {
  padding: 6px 0px 0px 0px;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Cell_4 .verticalalign {
  vertical-align: top;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Cell_4 {
  width: 89px;
  height: 60px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Image_2 {
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Image_2 > img, #s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Image_2 > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Label_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Label_4 {
  width: 91px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Label_4 > .clipping, #s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Label_4 > .paddingLayer {
  height: 23px;
  width: 91px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Label_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Label_4 span {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Label_4 span#rtr-s-Label_4_0 {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Cell_6 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Cell_6 td.layout {
  padding: 6px 0px 0px 0px;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Cell_6 .verticalalign {
  vertical-align: top;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Cell_6 {
  width: 91px;
  height: 60px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Image_8 {
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Image_8 > img, #s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Image_8 > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Label_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Label_6 {
  width: 91px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Label_6 > .clipping, #s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Label_6 > .paddingLayer {
  height: 23px;
  width: 91px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Label_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Label_6 span {
  color: #676767;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Label_6 span#rtr-s-Label_6_0 {
  color: #676767;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Cell_8 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Cell_8 td.layout {
  padding: 6px 0px 0px 0px;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Cell_8 .verticalalign {
  vertical-align: top;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Cell_8 {
  width: 91px;
  height: 60px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Image_3 {
  position: absolute;
  width: 36px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Image_3 > img, #s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Image_3 > svg {
  height: 36px;
  width: 36px;
  box-shadow: none;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Rectangle_1 {
  position: absolute;
  width: 87px;
  height: 61px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Rectangle_1 > .clipping, #s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Rectangle_1 > .paddingLayer {
  height: 61px;
  width: 87px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Image_4 {
  position: absolute;
  width: 36px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Image_4 > img, #s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Image_4 > svg {
  height: 36px;
  width: 36px;
  box-shadow: none;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Image_5 {
  position: absolute;
  width: 36px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Image_5 > img, #s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Image_5 > svg {
  height: 36px;
  width: 36px;
  box-shadow: none;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Image_6 {
  position: absolute;
  width: 36px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Image_6 > img, #s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Image_6 > svg {
  height: 36px;
  width: 36px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}