#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-map2 {
  -ms-transform: rotate(0.0deg);
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Pinmap {
  -ms-transform: rotate(270.0deg);
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Options_Nave_1 {
  border-collapse: separate;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Cell_2 > .valign {
  vertical-align: top;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Cell_4 > .valign {
  vertical-align: top;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Cell_6 > .valign {
  vertical-align: top;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Cell_8 > .valign {
  vertical-align: top;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-c3a13c16-4476-4c0c-8630-b0437e43d1bf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}