#s-e676a5d6-67ca-4e44-a158-532465816fb1 #s-star-1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e676a5d6-67ca-4e44-a158-532465816fb1 #s-star-1_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e676a5d6-67ca-4e44-a158-532465816fb1 #s-star-1_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e676a5d6-67ca-4e44-a158-532465816fb1 #s-star-1_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e676a5d6-67ca-4e44-a158-532465816fb1 #s-star-1_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e676a5d6-67ca-4e44-a158-532465816fb1 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e676a5d6-67ca-4e44-a158-532465816fb1 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e676a5d6-67ca-4e44-a158-532465816fb1 #s-menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e676a5d6-67ca-4e44-a158-532465816fb1 #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e676a5d6-67ca-4e44-a158-532465816fb1 #s-raised_Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-e676a5d6-67ca-4e44-a158-532465816fb1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}