#s-e676a5d6-67ca-4e44-a158-532465816fb1 #s-star-1 {
  -ms-transform: rotate(0.0deg);
}
#s-e676a5d6-67ca-4e44-a158-532465816fb1 #s-star-1_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e676a5d6-67ca-4e44-a158-532465816fb1 #s-star-1_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e676a5d6-67ca-4e44-a158-532465816fb1 #s-star-1_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e676a5d6-67ca-4e44-a158-532465816fb1 #s-star-1_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e676a5d6-67ca-4e44-a158-532465816fb1 #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-e676a5d6-67ca-4e44-a158-532465816fb1 #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-e676a5d6-67ca-4e44-a158-532465816fb1 #s-menu {
  -ms-transform: rotate(0.0deg);
}
#s-e676a5d6-67ca-4e44-a158-532465816fb1 #s-more-vertical {
  -ms-transform: rotate(0.0deg);
}
#s-e676a5d6-67ca-4e44-a158-532465816fb1 #s-raised_Button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 34px;
  width: 210px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-e676a5d6-67ca-4e44-a158-532465816fb1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}