#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Camera-Portrait {
  position: absolute;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Portrait {
  width: 0px;
  height: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Portrait > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Portrait td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Portrait > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 100px;
  height: 100px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Portrait .verticalalign {
  vertical-align: top;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Background > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #191919;
  background-image: none;
  box-shadow: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Background {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Background > .clipping, #s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Background > .paddingLayer {
  height: 100px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Background .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Background span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Background span#rtr-s-Background_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Footer-base > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Footer-base {
  position: absolute;
  width: 0px;
  height: 149px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Footer-base > .clipping, #s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Footer-base > .paddingLayer {
  height: 149px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Footer-base .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Footer-base span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Footer-base span#rtr-s-Footer-base_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #shapewrapper-s-Ellipse_272 > .shapert-clipping {
  width: 61px;
  height: 63px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #shapewrapper-s-Ellipse_272 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 61px;
  height: 63px;
  position: absolute;
  overflow: hidden;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #shapewrapper-s-Ellipse_272 .content {
  text-shadow: none;
  width: 61px;
  height: 63px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #shapewrapper-s-Ellipse_272 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #shapewrapper-s-Ellipse_272 {
  position: absolute;
  width: 61px;
  height: 63px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Ellipse_272 {
  width: 51px;
  height: 53px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: transparent;
  background-image: none;
  stroke-width: 10px;
  stroke: #FFFFFF;
  box-shadow: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #shapewrapper-s-Ellipse_272 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #shapewrapper-s-Ellipse_272 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #shapewrapper-s-Ellipse_272 span#rtr-s-Ellipse_272_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #shapewrapper-s-Ellipse_273 > .shapert-clipping {
  width: 41px;
  height: 42px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #shapewrapper-s-Ellipse_273 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 41px;
  height: 42px;
  position: absolute;
  overflow: hidden;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #shapewrapper-s-Ellipse_273 .content {
  text-shadow: none;
  width: 41px;
  height: 42px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #shapewrapper-s-Ellipse_273 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #shapewrapper-s-Ellipse_273 {
  position: absolute;
  width: 41px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Ellipse_273 {
  width: 41px;
  height: 42px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #DD3214;
  background-image: none;
  box-shadow: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #shapewrapper-s-Ellipse_273 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #shapewrapper-s-Ellipse_273 span {
  color: #DD3214;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #shapewrapper-s-Ellipse_273 span#rtr-s-Ellipse_273_0 {
  color: #DD3214;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_77 {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_77 > img, #s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_77 > svg {
  height: 50px;
  width: 50px;
  box-shadow: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_78 > svg {
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_78 {
  position: absolute;
  width: 36px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_78 > img, #s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_78 > svg {
  height: 36px;
  width: 36px;
  box-shadow: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Home_Indicator > svg {
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Home_Indicator {
  position: absolute;
  width: 134px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Home_Indicator > img, #s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Home_Indicator > svg {
  height: 5px;
  width: 134px;
  box-shadow: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Header-base > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Header-base {
  position: absolute;
  width: 0px;
  height: 95px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Header-base > .clipping, #s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Header-base > .paddingLayer {
  height: 95px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Header-base .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Header-base span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Header-base span#rtr-s-Header-base_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-TopBots {
  position: absolute;
  width: 360px;
  height: 60px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-TopBots > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-TopBots > table {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_1 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_1 .verticalalign {
  vertical-align: middle;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_1 {
  width: 90px;
  height: 60px;
  background-color: transparent;
  background-image: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_76 > svg {
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_76 {
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_76 > img, #s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_76 > svg {
  height: 22px;
  width: 22px;
  box-shadow: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_3 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_3 .verticalalign {
  vertical-align: middle;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_3 {
  width: 90px;
  height: 60px;
  background-color: transparent;
  background-image: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_79 > svg {
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_79 {
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_79 > img, #s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_79 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_5 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_5 .verticalalign {
  vertical-align: middle;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_5 {
  width: 90px;
  height: 60px;
  background-color: transparent;
  background-image: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_80 > svg {
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_80 {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_80 > img, #s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_80 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_7 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_7 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_7 .verticalalign {
  vertical-align: middle;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_7 {
  width: 90px;
  height: 60px;
  background-color: transparent;
  background-image: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_81 > svg {
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_81 {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_81 > img, #s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_81 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Options {
  position: absolute;
  width: 360px;
  height: 43px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Options > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Options > table {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_2 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_2 td.layout {
  padding: 0px 0px 4px 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_2 .verticalalign {
  vertical-align: bottom;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_2 {
  width: 80px;
  height: 43px;
  background-color: transparent;
  background-image: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-timelapse-label > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-timelapse-label {
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-timelapse-label > .clipping, #s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-timelapse-label > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-timelapse-label .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-timelapse-label span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-timelapse-label span#rtr-s-timelapse-label_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_6 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_6 td.layout {
  padding: 0px 0px 4px 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_6 .verticalalign {
  vertical-align: bottom;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_6 {
  width: 72px;
  height: 43px;
  background-color: transparent;
  background-image: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Slomo-label > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Slomo-label {
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Slomo-label > .clipping, #s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Slomo-label > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Slomo-label .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Slomo-label span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Slomo-label span#rtr-s-Slomo-label_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_9 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_9 td.layout {
  padding: 0px 0px 4px 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_9 .verticalalign {
  vertical-align: bottom;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_9 {
  width: 72px;
  height: 43px;
  background-color: transparent;
  background-image: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_9 .Cell_9 > *:last-child {
  margin-bottom: 0;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_9 .Cell_9 > * {
  margin-bottom: 6px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #shapewrapper-s-Ellipse > .shapert-clipping {
  width: 10px;
  height: 10px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #shapewrapper-s-Ellipse .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 10px;
  height: 10px;
  position: absolute;
  overflow: hidden;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #shapewrapper-s-Ellipse .content {
  text-shadow: none;
  width: 10px;
  height: 10px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #shapewrapper-s-Ellipse > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #shapewrapper-s-Ellipse {
  position: relative;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Ellipse {
  width: 10px;
  height: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FF9500;
  background-image: none;
  box-shadow: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #shapewrapper-s-Ellipse .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #shapewrapper-s-Ellipse span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #shapewrapper-s-Ellipse span#rtr-s-Ellipse_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Video-label > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Video-label {
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Video-label > .clipping, #s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Video-label > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Video-label .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Video-label span {
  color: #FF9500;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Video-label span#rtr-s-Video-label_0 {
  color: #FF9500;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_11 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_11 td.layout {
  padding: 0px 0px 4px 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_11 .verticalalign {
  vertical-align: bottom;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_11 {
  width: 72px;
  height: 43px;
  background-color: transparent;
  background-image: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Photo-label > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Photo-label {
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Photo-label > .clipping, #s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Photo-label > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Photo-label .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Photo-label span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Photo-label span#rtr-s-Photo-label_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_13 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_13 td.layout {
  padding: 0px 0px 4px 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_13 .verticalalign {
  vertical-align: bottom;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_13 {
  width: 64px;
  height: 43px;
  background-color: transparent;
  background-image: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Square-label > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Square-label {
  width: 52px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Square-label > .clipping, #s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Square-label > .paddingLayer {
  height: 18px;
  width: 52px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Square-label .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Square-label span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Square-label span#rtr-s-Square-label_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}