#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Footer-base {
  -ms-transform: rotate(0.0deg);
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Ellipse_272 {
  stroke-width: 10px;
  stroke: #FFFFFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Ellipse_273 {
  -ms-transform: rotate(0.0deg);
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_77 {
  -ms-transform: rotate(0.0deg);
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_78 {
  -ms-transform: rotate(0.0deg);
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Home_Indicator {
  -ms-transform: rotate(0.0deg);
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Header-base {
  -ms-transform: rotate(0.0deg);
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-TopBots {
  border-collapse: separate;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_1 > .valign {
  vertical-align: middle;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_3 > .valign {
  vertical-align: middle;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_5 > .valign {
  vertical-align: middle;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_80 {
  -ms-transform: rotate(0.0deg);
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_7 > .valign {
  vertical-align: middle;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Options {
  border-collapse: separate;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_2 > .valign {
  vertical-align: bottom;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-timelapse-label {
  -ms-transform: rotate(0.0deg);
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_6 > .valign {
  vertical-align: bottom;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Slomo-label {
  -ms-transform: rotate(0.0deg);
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_9 > .valign {
  vertical-align: bottom;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Ellipse {
  -ms-transform: rotate(0.0deg);
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Video-label {
  -ms-transform: rotate(0.0deg);
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_11 > .valign {
  vertical-align: bottom;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Photo-label {
  -ms-transform: rotate(0.0deg);
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Cell_13 > .valign {
  vertical-align: bottom;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Square-label {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}