#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Footer-base {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Ellipse_272 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Ellipse_273 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Home_Indicator {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Header-base {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-timelapse-label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Slomo-label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Ellipse {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Video-label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Photo-label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 #s-Square-label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-ed4d4e83-4403-407c-adb1-3c8d1fda93a7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}